<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp.</h1>
            <p>View our handpicked campground lists from across the US.</p>
            <p><a class="btn btn-primary btn-large" href="/campgrounds/new">Add a new listing</a></p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Popular Locations:</h3>
        </div>
        <div class="row text-center" >
            <% camps.forEach (function(campListings){ %>
                <div class="col-md-3 col-sm-6"> 
                    <div class="thumbnail">
                        <img src="<%= campListings.image %>">
                        <div class="caption">
                            <h4><%= campListings.name %></h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campListings._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    
    
    
</div>
<% include ../partials/footer %>